.modal {
   position: absolute;
   top: 0px;
   left: 0px;
   width: 100%;
   height: 100vh;
   background-color: rgba(0, 0, 0, 0.2);
   display: flex;
   justify-content: center;
   align-items: center;
   z-index: -100;

   .wrapper {
      width: 500px;
      height: 300px;
      background-color: rgb(238, 238, 238);
      border-radius: 10px;
      overflow: hidden;
      border: 2px solid black;
      box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3), 0px 0px 10px rgba(0, 0, 0, 0.3), 0px 0px 15px rgba(0, 0, 0, 0.3);
      transition: 0.5s;
      opacity: 0;
      transform: translateY(-10px);

      .topbar {
         width: 100%;
         height: 40px;
         background-color: #373A40;
         display: flex;
         justify-content: space-between;
         align-items: center;
         padding: 0px 10px;

         .mark {
            justify-content: flex-start;
            color: white;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            font-size: 1.2rem;
         }

         button {
            height: 25px;
            width: 25px;
            border-radius: 50%;
            font-size: 1rem;
            font-weight: 700;
            transition: all 0.3s;
            background-color: rgb(255, 110, 110);

            &:hover {
               transform: rotateZ(20deg);
               background-color: rgb(229, 60, 60);
               color: white;
            }
         }
      }

      form {
         width: 100%;
         height: calc(100% - 40px);

         .content {
            width: 100%;
            height: 210px;
            padding: 10px;
            display: flex;
            justify-content: center;
            align-items: center;

            .area {
               background-color: lightblue;
               width: 90%;
               height: 150px;
               position: relative;

               textarea {
                  width: 100%;
                  height: 100%;
                  resize: none;
                  padding: 10px;
                  font-size: 1rem;
               }

               span {
                  position: absolute;
                  top: 5px;
                  left: 10px;
                  font-size: 1rem;
                  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                  padding: 3px 6px;
                  border: 1px solid transparent;
                  border-radius: 5px;
                  transition: all 0.3s;
               }

               textarea:focus~span,
               textarea:valid~span {
                  top: -15px;
                  left: 40px;
                  background-color: white;
                  border-color: black;
                  font-size: 0.9rem;
               }
            }
         }

         .buttons {
            width: 100%;
            height: calc(100% - 210px);
            background-color: #373A40;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            gap: 10px;
            padding: 0px 10px;

            button {
               padding: 3px 5px;
               font-size: 1.1rem;
               font-weight: 700;
               font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
               border-radius: 5px;
               transition: all 0.4s;

               &:nth-child(1) {
                  background-color: rgb(255, 110, 110);

                  &:hover {
                     background-color: rgb(255, 74, 74);
                  }
               }

               &:nth-child(2) {
                  background-color: rgb(120, 255, 75);

                  &:hover {
                     background-color: rgb(99, 229, 55);
                  }
               }
            }
         }
      }
   }
}

.modal.active{
   z-index: 100;

   .wrapper{
      opacity: 1;
      transform: translateY(0px);
   }
}